.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  background-color: aquamarine;
}
.headerDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.0rem;
  font-size: 3.0rem;
}

.firstState {
  font-size: 0.3rem;
}

button {
  font-size: 50px;
}

footer {
  text-align: center;
  margin-top: 90px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
